<!doctype html>
<html lang="en" ng-app="app">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <title>Hello, world!</title>
  
  </head>
  <body>
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#">Progress Checker</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#!progress">Progress</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">About me</a>
            </li>
          </ul>
        </div>
      </nav>

      <ng-view></ng-view>
      <div class="container" ng-controller="HelloController" style="display:none;">
        <div class="jumbotron jumbotron-fluid" style="padding-top: 20px; padding-bottom: 10px;">
          <div class="container">
            <p><strong>Voice:</strong>	Xác định các giọng đọc, voice có các giá trị là leminh (giọng nam miền bắc), male (giọng nam miền bắc), female (giọng nữ miền bắc), hatieumai (giọng nữ miền nam), ngoclam (giọng nữ Huế)</p>
            <p><strong>Speed:</strong> Điều chỉnh tốc độ đọc (chỉ áp dụng với các voice male, female, hatieumai, ngoclam). Giá trị từ -3 đến 3 để xác định tốc độ đọc: -3 (rất chậm) / -2 (khá chậm) / -1 (chậm) / 0 (bình thường) / 1 (nhanh) / 2 (khá nhanh) / 3 (rất nhanh)</p>
            <p><strong>Prosody:</strong> Thêm ngữ điệu cho câu hỏi (chỉ áp dụng với voice male). Để kích hoạt chức năng này, thay đổi giá trị thành 1</p>
          </div>
        </div>

        <div class="row">
          <div class="col">
            <div class="form-group">
              <label for="formControlRange">Input files</label>
              <select class="form-control" name="direct" ng-model="input">
                <option value="{{input}}" ng-repeat="input in inputs">{{input}}</option>
              </select>
            </div>
            <div class="form-group">
              <label for="formControlRange">Voice</label>
              <select class="form-control" name="voice" ng-model="voice">
                <option value={{voice}} ng-repeat="voice in voices">{{voice}}</option>
              </select>
            </div>
            <div class="form-group">
              <label for="formControlRange">Speed</label>
              <input type="range" class="form-control-range" id="formControlRange" name="speed" max="3" min="-3" value="0" ng-model="speed">
            </div>
            <div class="form-group">
              <input class="" type="checkbox" value="" id="defaultCheck1" name="prosody" ng-model="prosody">
              <label class="" for="defaultCheck1" ng-model="prosody">
                Prosody
              </label>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <div class="pull-right">
                <button class="btn btn-default pull-right" ng-click="merge()">Merge</button>
                <button class="btn btn-primary pull-right" ng-click="run_all()">Run all</button>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col" style="border-radius: 5px; background-color: #333333; margin-top: 10px; padding:10px 5px; min-height:300px; color: white" id="result">
              <p ng-bind-html="result"></p>
          </div>
        </div>
      </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="js/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="js/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    

    <script src="angular.min.js"></script>
    <script src="js/angular-sanitize.js"></script>
    <script src="js/angular-route.min.js"></script>
    <!-- <script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.20/angular-route.min.js"></script> -->
    <!-- <script src="app.js"></script> -->

    <script>
        // You can also require other files to run in this process
      require('./renderer.js')
      require('./app.js')
    </script>
    
  </body>
</html>
